<div class="d-flex justify-content-center align-items-center mb-2" style = "height: 100vh">
      <div class="text-center mt-4 py-5 border rounded-3 py-3 col-8 shadow-lg ">
    <h1>Score Page 🤞</h1>
  <div class = "row">
      <p><%= @exist %></p>
      <%= link_to "Go back to the game", new_path, class: "text-decoration-none" %>
  </div>
</div>
</div>
